.list li a {
	color: #53B0D5;
}

.list li a:hover {
	color: #c73030;
}

.list li {
	margin: 10px;
}

.list {
	font-size: 14px;
	list-style-type: none;
}

/*Аккардеон*/
.block-accordion {
	border-bottom: 1px solid #ccc;
	margin-top: 3px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #D4EFF4;
}

.block-accordion:hover {
	cursor: pointer;
	background-color: #D4E3F4;
}

.list-hidden {
	display: none;
}
